.from_middle{
    padding: 70px 0;
}
.h-centeredDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 50px;
    align-items: center;
}
.h-centeredDiv>div>img{
    padding: 25px 0;
}
.pswd-input-box>div>input{
    padding: 10px;
}
.pswd-input-box{
    margin: 16px 0!important;
}
.resetPswdPage{
    padding-bottom: 50px;
}
.pswd-input-box>div>svg{
    fill: #707070;
}
.pswd-input-box>div{
    width: 424px;
    /* padding: 16px 0; */
}
.resetPswdDiv{
    display: flex;
    flex-direction: column;
}
.from_middle>div{
    justify-content: center;
    align-items: center;
}
.from-heading>p{
    margin: 0 0 4px 15px;
}
.from-heading{
    width: 100%;
}
.theme-btn>.MuiButtonBase-root{
    margin: 10px 0;
    width: 100%;
}
@media only screen and (max-width: 1300px) {
    .from-heading>p{
        margin: 0 0 4px 2px;
    }
  }
  @media only screen and (max-width: 835px) {
    .from-heading>p{
        margin: 0 0 4px 38px;
    }
    .pswd-input-box>div{
        width: 324px;
        /* margin: 10px 0; */
    }
  }