.submenu-div>div{
    z-index: 12;
}
.header_settingIcon svg{
    max-width: 32px;
    max-height: 32px;
}
.setting-submenu>button {
    color: #fff;
    text-decoration: none;
    text-transform: unset;
    font-size: 0.875rem;
    padding: 0;
    font-weight: 400;
}
.setting-submenu>div>div>ul>li{
    font-size: 0.875rem;
}
.profileDiv .header_settingIcon{
    min-width: unset;
}
.profileDiv .header_settingIcon,.profileDiv .ProfileHeaderBtnDrop{
    height: 100%;
}