.mainScroll{
    display: inline-block;
    width: 100%;
}
.BadgeDetailDiv{
    height:100%;
}
.BadgeDetailDiv .col .tab-content .tab-pane{
    padding:22px 12px;
    height:186px;
    overflow-y: auto;
    overflow-x: hidden;

}
.userBadgePersonalTags>#preview-tag>.pop-tags{
    background-color: rgb(47 104 255 / 75%);
    color: #fff;
}
.userBadgeProfessionalTags>#preview-tag>.pop-tags{
    background-color:rgb(47 104 255 / 75%);
    color: #fff;
}
.companyNameDiv, .unionNameDiv{
    font-size: 12px;
    line-height: 1.3;
    padding-top: 6px;
}
/* Custom scrollbar for mozilla  */
.BadgeDetailDiv .col .tab-content .tab-pane{
    scrollbar-width: thin;
    scrollbar-color: rgb(30 77 125 / 75%) rgb(30 77 125 / 0%);
}
/* custom scrollbar for a div */
.BadgeDetailDiv .col .tab-content .tab-pane::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.BadgeDetailDiv .col .tab-content .tab-pane::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 2px grey;  */
    border-radius: 10px;
}

/* Handle */
.BadgeDetailDiv .col .tab-content .tab-pane::-webkit-scrollbar-thumb {
    background: rgb(30 77 125 / 75%);
    border-radius: 10px;
}

/* Handle on hover */
.BadgeDetailDiv .col .tab-content .tab-pane::-webkit-scrollbar-thumb:hover {
    background: rgb(30 77 125 / 100%);
}
/* custom scrollbar for a div */
.interestHeading{
    padding-bottom: 10px;
}
.professional-pop-tags{
    background-color: rgb(47 104 255 / 75%);
    color:#fff;
    padding: 4px 7px;
    display: inline-block;
    margin: 2px 5px 2px 0;
    text-align: center;
    position: relative;
    border-radius: 5px;
    font-size: 12px;
}
.personal-pop-tags{
    background-color: rgb(47 104 255 / 75%); 
    color:#fff;
    padding: 4px 7px;
    display: inline-block;
    margin: 2px 5px 2px 0;
    text-align: center;
    position: relative;
    border-radius: 5px;
    font-size: 12px;
}
.BadgeDetailDiv .col .nav-tabs{
    font-size: 11px;
    color:#fff;
    display: flex;
}
.BadgeDetailDiv .col .nav-tabs a{
    font-size: 11px;
    color:#fff;
}
.BadgeDetailDiv .col .nav-tabs a:hover{
    background-color: #fff;
    border:0px solid #ecf0f3;
    color: #3b3b3b;
    border-radius: 0px;   
}
.BadgeDetailDiv .col .tab-content{
    background-color: #fff;
    padding-right: 2px;   
}
.BadgeDetailDiv .col .nav-tabs>a.active, .nav-tabs>a.active>a:focus, .nav-tabs>a.active>a:hover {
    color: rgb(30 77 125);
    cursor: default;
    border-radius: 0px;
    margin: 0;
    /* border:1px solid #fff; */
    background: #fff;
}
.BadgeDetailDiv .col .nav>a {
    position: relative;
    /* display: block; */
    font-size: 11px;
    padding: 5px 8px;
}
.BadgeDetailDiv .col .nav-tabs {
    border-bottom: none;
    height:26px;
    background-color: #b8c9da;
    color:#fff;
}
.nameCol9{
    padding-left: 29px!important;
}
.col-sm-9.nameCol9{
    color: rgb(30 77 125 / 75%);
}
.PertagHeadingUserbadgeDiv #preview-tag .pop-tags, .ProtagTextColor #preview-tag .pop-tags{
    color: white !important;
}