.pswd_div{
    display: flex;
    justify-content: center;
}
.pswd_div .ThemeInputTag_setpswd{
    justify-content: end;
}
.pswd_div .ThemeInputTag{
    width: 100%;
    margin: 8px 0;
}
.pswd_div .ThemeInputTag>div>input {
    padding: 5px;
    width: 100%;
    margin: 5px;
}
.pswd_div .long_btn{
    width: 100%;
    margin-top: 8px;
}
.setPswd_main>div>div>div>.MuiTabs-flexContainer{
    width: 42%;
    margin-left: 50px;
}
.setPswd_main .setPswdIconTab>svg {
    position: relative;
    top: 52px;
    left: -8px;
    width: 40px;
    fill: #0589b8;
    height: 40px;
}
/* .setPswd_main #nav-tabpanel-0{

} */