.forget_pswd_div{
    text-align: center;
    padding-top: 95px;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
}
.forget_pswd_div .long_btn, .forget_pswd_div .ThemeInputTag{
    width: 100%;
    margin: 8px 0;
}