# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/uploader
# testing
/coverage

# production
/build
/key
server.js
# misc

.DS_Store
scpCommand.txt
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
opsimlify.7z
opsimlify.zip

package-lock.json
*.zip
package-lock.json
node_modules
.idea
.idea/
key/
public/*.zip
public/img
public/*.zip
debug.log

/.env

/docs