.userGridImageRow .Img__preview_div{
    z-index: 0;
}
.userGridImageRow .profileUploader__cropper_wrap {
    background: aliceblue;
    height: 103px;
    z-index: 15;
    top: 0;
    position: absolute;
}
.userGridImageRow .Img_cropper_main .selectImg input {
    position: absolute;
    width: 180px;
    height: 103px;
    background-color: #2e2d2dde;
    border-radius: 11px;
    opacity: 0;
    cursor: pointer;
}
.userGridImageRow .image__uploader{
    position: relative;
}