
  
  .Img_cropper_main {
    display: grid
  }


  /* .Img_cropper_main .selectImg input {
    width: 195px;
    height: 195px;
    background-color: #0202022f;
    border-radius: 6%;
  } */
  .Img_cropper_main .selectImg input#file-input-button {
    width: 195px !important;
    height: 195px;
    background-color: #0202022f;
    border-radius: 6%;
  }
  .Img_cropper_main ::file-selector-button {
    display: none;
  }
  .Img_cropper_main ::-webkit-file-upload-button {
    display: none;
  }
  .Img_cropper_main .ReactCrop.Img_cropper_tool{
      /* position: absolute; */
      margin: 28px auto;
      max-width: 300px;
      height: auto;
      max-height: 300px;
      border-radius: 12px;
      border: 8px solid rgb(43, 157, 250);
  }
  .Img_cropper_main .btn_outline_dark  {
    border: 1px solid #0589b8;
    background-color: #0589b8;
    color: #fff;
    padding: 6px 18px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

}
.Img_cropper_main .ImgBtn_absolute {
  position: relative;
  /* left: 110px; */
  min-width: 81px;
  display: flex;
  font-size: 14px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.Img_cropper_main .btn_outline_dark:hover {
  border: 1px solid #04759e;
  background-color: #04759e;
  color: #fff;
  /* padding: 6px 18px;
  display: inline-flex;
  align-items: center;
  cursor: pointer; */

}