.H_status_wrap{
    width: 20px;
    height: 20px;
    background-color: #808080;
    border: 0px solid #000;
    border-radius: 50%;
    box-shadow:  5px 5px 10px #c1c1c1, -6px -6px 12px #ffffff;
}
.H_status_wrap.h_status_yellow{
    background: linear-gradient(145deg, rgba(255, 251, 0, 0.9), rgba(87, 86, 86, 0.80));
}
.H_status_wrap.h_status_red{
    background: linear-gradient(145deg, rgba(255, 0, 0, 0.85), rgba(87, 86, 86, 0.80));
}
.H_status_wrap.h_status_green{
    background: linear-gradient(145deg, rgba(13, 255, 45, 0.85), rgba(87, 86, 86, 0.80));
}
.H_status_wrap.h_status_gray{
    background: linear-gradient(145deg, rgba(240, 240, 240, 0.85), rgba(87, 86, 86, 0.80));
}