.pro-eye{
    margin-right: -15px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -4px;
}
/* .PertagHeadingUserbadgeDiv >.py-4>p{
    visibility: hidden;
    position: relative;
} */
