.rangePicker_customButton {
    /* display: flex; */
    background-color: #ffffff00!important;
    box-shadow: none!important;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3b3b3b;
    padding: 8px 14px;
    font-family: inherit;
    cursor: pointer;
}